/* /Element Selectors/ */

/* body styling properties */
body {
  font-size: 16px;
  scroll-behavior: smooth;
  flex-wrap: wrap;
}

/* header styling and layout */
header {
  display: flex;
  top: 0;
  width: 100.5%;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: rgb(242, 211, 125);
}

/* text area styling */
textarea {
  background: transparent;
  border: 1px solid #000709;
  border-radius: 5px;
  resize: none;
  color: #000000;
  padding: 6px;
}

/* /Class Selectors/ */

/* calender section display properties  and styling */
.calender {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border: 1px solid white;
}

.hour {
  background: linear-gradient(
    rgb(251, 255, 134), 
		rgba(110, 173, 255, 0.805) 70%);
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}


/* class selectors added to timeblock for color coding the hour based on current time value */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
 /* save button styling */
.saveBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #717e82;
  color: rgb(255, 255, 255);
}

.bx {
font-size: 20px;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

/* id selector */

/* current time and date orientation */
#time-display {
  padding-top: 10px;
}
